*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:'Poppins',sans-serif;
    background:#f8fafc;
    color:#1f2937;

}



/* Navbar */


.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:white;

}



.logo{

    font-size:28px;
    font-weight:700;

}


.logo span{

    color:#2563eb;

}



.nav-links{

    display:flex;
    gap:30px;
    list-style:none;

}


.nav-links a{

    text-decoration:none;
    color:#374151;

}



.login-btn{

    background:#2563eb;
    color:white;

    border:none;
    padding:12px 25px;

    border-radius:25px;

    cursor:pointer;

}




/* Hero */


.hero{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:80px 8%;

}



.hero-content{

    width:50%;

}



.hero h1{

    font-size:55px;
    color:#111827;

}



.hero p{

    margin:20px 0;

    font-size:18px;

    color:#6b7280;

}




.primary-btn,
.secondary-btn{

    padding:14px 30px;

    border-radius:30px;

    border:none;

    cursor:pointer;

    margin-right:15px;

}



.primary-btn{

    background:#2563eb;
    color:white;

}



.secondary-btn{

    background:white;

    border:2px solid #2563eb;

    color:#2563eb;

}





/* Health Card */


.health-card{

    background:white;

    padding:40px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 10px 30px #0001;

}


.health-card h2{

    color:#22c55e;

    font-size:45px;

}





/* Features */


.features{

    padding:60px 8%;

    text-align:center;

}


.feature-container{

    display:flex;

    gap:30px;

    margin-top:40px;

}



.feature-card{

    background:white;

    padding:30px;

    border-radius:20px;

    flex:1;

    box-shadow:0 5px 20px #0001;

}





footer{

    background:#111827;

    color:white;

    text-align:center;

    padding:20px;

}